@model assignment2herhealth.Models.HealthSuggestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HealthSuggestion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterIntake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterIntake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthyFoods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthyFoods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodEntry.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HealthSuggestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
